body {
  background-color: #f4f4f4;
}
nav {
  background-color: #5BC4F0;
}
nav ul {
  list-style-type: none;
  margin: 0;
}
nav ul li {
  display: inline-block;
  padding: 8px 20px;
}
nav ul li a {
  color: inherit;
}
nav ul li a:hover {
  border-bottom: 1px solid #354A54;
  transition: all .3s ease-in-out;
}
.box {
  padding: 0 1% 3% 3%;
  margin-top: 3%;
  /* background-color: #e1e1e1; */
  /* border-right: 3px solid #B4F88E; */
}
p {
  font-size: 15px;
}
h2 {
  color: #354A54;
  border-bottom: 1px solid #368C7F;
  padding-bottom: 2px;
}
#logo {
  padding: 0 1% 3% 3%;
  margin-top: 10% !important;
  width: 30%;
  display: block;
  margin: auto;
}
#post a::before, #news a::before {
  content: "--> "
}
#post a, #news a {
  display: block;
  color: #99AEBB;
  font-size: 15px;
}
#post a:last-child, #news a:last-child {
  color: #7890DA;
}
.fa-github, .fa-telegram, .fa-envelope {
  font-size: 35px;
  vertical-align: middle;
}
.icons {
  text-align: center;
}
.fa-github {
  color: #A2356C;
}
.fa-telegram {
  color: #47C089;
}
.fa-envelope {
  color: #008956;
}
.fab1, .fas1 {
  font-size: 20px;
}
.footer h2 {
  border: none;
}
.footer {
  padding: 0 3%;
  background-color: #e2dddd;
}
.copyright {
  width: 22.5%;
  margin: 0 3%;
}
.contact {
  width: 37.56%;
  margin: 0 1.1%;
}
.donate {
  width: 20%;
  margin: 0 3.3%;
  text-align: justify;
}
#logo {
  width: 30%;
}
@media only screen and (max-width: 600px) {
  .copyright, .contact, .donate {
    width: 100%;
    margin: 1% 0;
  }
}